<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script>
      //server.jsから受け取ったuuidを使えるようにする
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"
    ></script>
    <!-- deferはDOMのレンダリングを遅延させられる -->
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="main__videos">
        <div id="video__wrap"></div>
        <div class="video__controller">
          <button type="button" class="btn__action" onclick="playStop(this)">
            <img src="images/video.png" />
          </button>
          <button type="button" class="btn__action" onclick="muteUnmute(this)">
            <img src="images/mic.png" />
          </button>
          <button type="button" class="btn__action" onclick="leaveVideo(this)">
            <img src="images/call.png" />
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
